---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Donate from "@components/Donate.astro";
import SeoPost from "@/components/SeoPost.astro";

import { formatDate } from "@/lib/util";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <SeoPost slot="head" entry={entry} />
  <div>
    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          alt={entry.data.imageAlt || ""}
          class="h-auto w-full"
          loading="eager"
        />
      )
    }
    <div class="py-8 text-center">
      <h1 class="my-3 leading-9">{entry.data.title}</h1>
      <p
        class="text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
      >
        Posted:
        {
          formatDate(entry.data.publicationDate, {
            year: "numeric",
            month: "long",
            day: "numeric",
            hour: "2-digit",
            minute: "2-digit",
          })
        }
      </p>
      {
        entry.data.lastUpdated && (
          <p class="text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted">
            Last updated:
            {formatDate(entry.data.lastUpdated, {
              year: "numeric",
              month: "long",
              day: "numeric",
              hour: "2-digit",
              minute: "2-digit",
            })}
          </p>
        )
      }
    </div>
    <hr class="prose max-w-none opacity-50 dark:prose-invert" />
    <div
      class="prose prose-neutral mx-auto max-w-none pt-8 dark:prose-invert prose-a:text-lightModeLink prose-code:bg-white prose-code:p-1 prose-code:text-base prose-code:font-normal prose-code:text-lightModeForeground dark:prose-a:text-darkModeLink dark:prose-code:bg-black dark:prose-code:text-darkModeForeground"
    >
      <Content />
    </div>
    <div class="my-24">
      <Donate />
    </div>
  </div>
</BaseLayout>
