---
import { getCollection } from "astro:content";

import { formatBlogPosts } from "@lib/util";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";

const posts = await getCollection("blog");
const formattedPosts = formatBlogPosts(posts);
---

<BaseLayout>
  <SeoPage slot="head" title="Blog" />
  <main class="mb-12">
    <h2 class="py-3">Blog Posts</h2>
    <ul class="grid list-none gap-y-2 p-0">
      {formattedPosts.map((post) => <Post post={post} />)}
    </ul>
  </main>
</BaseLayout>
