---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";

const posts = (await getCollection("lists")).sort((a, b) =>
  (a.data.title || "").localeCompare(b.data.title || "", undefined, {
    sensitivity: "base",
  }),
);
---

<BaseLayout>
  <SeoPage slot="head" title="Lists" />
  <main class="mb-12">
    <h2 class="py-3">Lists</h2>
    <ul class="grid list-none gap-y-2 p-0">
      {
        posts.map((post) => (
          <li>
            <a href={`/lists/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
