@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IntelOneMono";
  src: url("/fonts/IntelOneMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IntelOneMono";
  src: url("/fonts/IntelOneMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IntelOneMono";
  src: url("/fonts/IntelOneMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IntelOneMono";
  src: url("/fonts/IntelOneMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IntelOneMono";
  src: url("/fonts/IntelOneMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IntelOneMono";
  src: url("/fonts/IntelOneMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root {
    color-scheme: light dark;

    --light-mode-background: 240 240 240;
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --light-mode-link: 24 0 237;
    --dark-mode-background: 10 10 10;
    --dark-mode-foreground: 255 255 255;
    --dark-mode-foreground-muted: 205 205 205;
    --dark-mode-link: 158 158 254;
  }
}

body {
  background-color: light-dark(
    rgb(var(--light-mode-background)),
    rgb(var(--dark-mode-background))
  );
}

hr {
  @apply my-12 border-[0.5px];
}

::selection {
  @apply dark:bg-darkModeForeground/10 dark:text-green-400;
}
