---
import BaseHead from "@/components/BaseHead.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<!doctype html>
<html>
  <BaseHead>
    <SeoPage title="Brain dump" />
  </BaseHead>
  <body>
    <!-- if you update the link below -->
    <!-- must also update sitemap customPages in astro.config.mjs -->
    <iframe
      id="iframe"
      src="https://embed.figma.com/board/wCeNBPLYqQNpmwk0haQYbx/Untitled?node-id=0-1&embed-host=share"
      allowfullscreen></iframe>
  </body>
</html>

<style>
  body {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #iframe {
    width: 100%;
    height: 100%;
  }
</style>
