---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@components/Introduction.astro";
import SeoPage from "@components/SeoPage.astro";

import { SOCIAL_LINKS } from "@siteConfig.ts";
---

<BaseLayout>
  <SeoPage slot="head" title="Contact" />
  <main>
    <Introduction />
    <ul class="grid list-none gap-1 p-0">
      {
        Object.keys(SOCIAL_LINKS).map((socialLinkKey) => {
          return (
            <li>
              <a href={SOCIAL_LINKS[socialLinkKey].url}>
                {SOCIAL_LINKS[socialLinkKey].label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
