---
import { Icon } from "astro-icon/components";

import { SOCIAL_LINKS } from "@siteConfig.ts";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" title="Contact" />
  <main>
    <h2 class="py-3">Contact</h2>
    <ul class="grid list-none gap-y-2 p-0">
      {
        Object.keys(SOCIAL_LINKS).map((socialLinkKey) => {
          return (
            <li class="flex space-x-1">
              <a href={SOCIAL_LINKS[socialLinkKey].url}>
                {SOCIAL_LINKS[socialLinkKey].label}
              </a>
              <Icon
                name="external"
                class="prose inline-flex dark:prose-invert"
              />
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
