---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@components/Navigation.astro";

import Post from "@components/Post.astro";
import SeoPage from "@components/SeoPage.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <p>
      Hi, I'm booger and this is my website. Right now, I'm working on <a
        href="https://superwebthemes.com">Themes</a
      >, a project dedicated to helping others create their own unique websites
      on the internet.
    </p>

    <hr class="my-8 opacity-50" />

    <ul class="list-none p-0">
      {posts.map((post) => <Post post={post} />)}
    </ul>
  </main>
</BaseLayout>
