---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Introduction from "@components/Introduction.astro";

import SeoPage from "@components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" title="Themes" />
  <main>
    <Introduction />
    Coming soon.
  </main>
</BaseLayout>
