---
const { href } = Astro.props;
---

<a
  href={href}
  class="group inline-flex items-center justify-center gap-1.5 rounded-sm bg-[#E9E9ED] px-1.5 py-0.5 text-black no-underline ring-1 ring-[#838290] hover:bg-[#D0D0D7] active:scale-[98%] active:bg-[#a8a8b0] dark:bg-[#26262E] dark:text-white dark:hover:bg-[#52535E] dark:active:bg-[#696975]"
>
  <slot />
</a>
