---
import { Icon } from "astro-icon/components";

import ButtonLink from "./ButtonLink.astro";
---

<div class="grid justify-center gap-y-3 py-6 text-center">
  <span
    class="text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
    >If you liked this...</span
  >
  <div class="flex gap-1.5 sm:gap-3">
    <ButtonLink href="https://donate.stripe.com/aEU6ow7VEf7u7sseUU">
      Donate <Icon name="heart" />
    </ButtonLink>
    <ButtonLink href="mailto:ttl@trevortylerlee.com">
      Email <Icon name="send" />
    </ButtonLink>
    <ButtonLink href="https://github.com/trevortylerlee">
      GitHub <Icon name="github" />
    </ButtonLink>
    <ButtonLink href="https://twitter.com/boogerbuttcheek">
      Twitter <Icon name="twitter" />
    </ButtonLink>
  </div>
</div>
