<p>
  Hi, I'm booger and this is my website. Right now I'm building <a
    href="https://superwebthemes.com/">free and premium templates</a
  > for Astro and Tailwind CSS.
</p>

<hr class="my-6 opacity-15" />
