<p>
  Hi, I'm booger and this is my website. Right now I'm working on <a
    href="https://superwebthemes.com">Themes</a
  >, a project dedicated to helping others create their own unique websites on
  the internet.
</p>

<hr class="my-6 opacity-15" />
