---
import { Icon } from "astro-icon/components";

import ButtonLink from "./ButtonLink.astro";
---

<div
  class="prose prose-neutral dark:prose-invert prose-a:text-lightModeLink prose-code:bg-[blue] prose-code:text-darkModeForeground dark:prose-a:text-darkModeLink"
>
  <p>
    Hi, I'm booger and this is my website. Check out my <a
      href="https://superwebthemes.com/">brain dump</a
    >!
  </p>
</div>

<div class="mt-6 flex gap-1.5 sm:gap-3">
  <ButtonLink href="mailto:ttl@trevortylerlee.com">
    Email <Icon name="send" />
  </ButtonLink>
  <ButtonLink href="https://github.com/trevortylerlee">
    GitHub <Icon name="github" />
  </ButtonLink>
  <ButtonLink href="https://twitter.com/boogerbuttcheek">
    Twitter <Icon name="twitter" />
  </ButtonLink>
</div>

<hr class="prose mx-auto my-8 max-w-none opacity-50 dark:prose-invert" />
