---
import { Icon } from "astro-icon/components";
---

<div
  class="max-screen-w-md prose prose-neutral dark:prose-invert prose-a:text-lightModeLink prose-code:bg-[blue] prose-code:text-darkModeForeground dark:prose-a:text-darkModeLink"
>
  <p>
    Hi, I'm booger and this is my website. Right now I'm building <a
      href="https://superwebthemes.com/">free and premium templates</a
    >
    <Icon
      name="external"
      class="inline-flex"
      class="prose inline-flex dark:prose-invert"
    />
    for Astro and Tailwind CSS.
  </p>
</div>

<a
  href="/brain-dump"
  class="mt-6 inline-flex items-center gap-2 rounded bg-[#0C2B23] px-2 py-3 align-middle text-lg font-bold text-[#04E759] no-underline ring-2 ring-[#06893E] transition-all hover:scale-[1.03] hover:bg-[#08334F] hover:text-[#029CE9] hover:ring-[#0776B2] focus:scale-[1.03] focus:bg-[#08334F] focus:text-[#029CE9] focus:ring-[#0776B2] active:scale-[0.97] active:bg-[#481B1C] active:text-[#F63B1C] active:ring-[#CA321E]"
  >BRAIN DUMP <svg
    id="brain"
    viewBox="0 0 64 64"
    class="inline-flex size-6 fill-white align-middle"
    ><path
      d="M52 29.53c0 .56-.38 1.05-1.07 1.22l-2.49.62-1 6.01c-.28 1.65-1.36 2.61-2.85 2.61-.3 0-.62-.04-.95-.12l-5.63-1.41v3.53l5.11 10.21c.59 1.18.89 2.47.89 3.79h-10v-28l8.46-4.23c.02-.25.04-.51.04-.77 0-5.25-4.25-9.5-9.5-9.5s-9.5 4.25-9.5 9.5c0 4.2 2.73 7.75 6.5 9.01v23.99h-14c0-5.46 4-10 10-13v-6.74c-4.76-2.52-8-7.51-8-13.26 0-8.28 6.72-15 15-15s15 6.72 15 15c0 .23-.02.46-.03.69l3.71 4.95c.22.29.32.6.32.89Z"
    ></path></svg
  ></a
>

<hr class="my-6 opacity-15" />
